# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# LaTeX temporary files
*.aux
*.log
*.toc
*.out

# Doxygen output
html/
latex/

# Temporary Directories
build

# generated code
include/track_data.h
src/track_data.c
include/train_speed_measurements.h
src/train_speed_measurements.c

# Vim temporary files
*.swp

# Emacs temporary files
*~
