Train XXY:
    Speed: 0
        Ticks:
        Velocity:
        Stopping Distance:
        Stopping Ticks:
    Speed: 1
        Ticks:
        Velocity:
        Stopping Distance:
        Stopping Ticks:
    Speed: 2
        Ticks:
        Velocity:
        Stopping Distance:
        Stopping Ticks:
    Speed: 3
        Ticks:
        Velocity:
        Stopping Distance:
        Stopping Ticks:
    Speed: 4
        Ticks:
        Velocity:
        Stopping Distance:
        Stopping Ticks:
    Speed: 5
        Ticks:
        Velocity:
        Stopping Distance:
        Stopping Ticks:
    Speed: 6
        Ticks:
        Velocity:
        Stopping Distance:
        Stopping Ticks:
    Speed: 7
        Ticks:
        Velocity:
        Stopping Distance:
        Stopping Ticks:
    Speed: 8
        Ticks:
        Velocity:
        Stopping Distance:
        Stopping Ticks:
    Speed: 9
        Ticks:
        Velocity:
        Stopping Distance:
        Stopping Ticks:
    Speed: 10
        Ticks:
        Velocity:
        Stopping Distance:
        Stopping Ticks:
    Speed: 11
        Ticks:
        Velocity:
        Stopping Distance:
        Stopping Ticks:
    Speed: 12
        Ticks:
        Velocity:
        Stopping Distance:
        Stopping Ticks:
    Speed: 13
        Ticks:
        Velocity:
        Stopping Distance:
        Stopping Ticks:
    Speed: 14
        Ticks:
        Velocity:
        Stopping Distance:
        Stopping Ticks:
